<!doctype html>
<html lang="en">
<!-- TimeInv Base Page. Author: Francisca Moya Jimenez -->
<head>
  <meta charset="utf-8">
  <!-- for mobile-friendly pages -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="TimeInv Team">
  {% block head_stuff %}
  <title>TimeInv</title>
  {% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>

<body>
  {% block nav %}
  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">TimeInv</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Dashboard</a>
          </li>
          {% if 'transaction' in permissions %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('transactions')}}">Transactions</a>
          </li>
          {% endif %}
          {% if 'product' in permissions %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('products')}}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('order_products')}}">Product Orders</a>
          </li>
          {% endif %}
          {% if 'staff' in permissions %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('users')}}">Manage Access</a>
          </li>
          {% endif %}
        </ul>
        <div class="d-flex justify-content-end">
          <span class="text-white px-3 pt-2">Logged in as {{username}}</span>
          <form method="POST" action="{{url_for('logout')}}">
            <button type="submit" class="btn btn-outline-light">
              Log out
            </button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="container-fluid p-4">

    {% block main_content %}
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  {% block end_scripts %}
  {% endblock %}


</body>

</html>