<!-- TimeInv User Page. Author: Francisca Moya Jimenez -->
{% extends "base.html" %}
{% from "flashing-macro-filtered.html" import show_messages_filtered %}

{% block head_stuff %}
<title>Manage Users | TimeInv</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">TimeInv</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('transactions')}}">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('products')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('order_products')}}">Product Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('users')}}">Manage Users</a>
                </li>
            </ul>
            <span>
                <form method="POST" action="{{url_for('logout')}}">
                    <button type="submit" class="btn btn-outline-light">
                        Log out
                    </button>
                </form>
            </span>
        </div>
    </div>
</nav>
{% endblock %}

{% block main_content %}
<div>
    <div>
        <h1>Manage Access</h1>
        <div class="d-flex align-items-start justify-content-between pb-1">
            <p>
                Add, remove and edit the access members of your organization to TimeInv
            </p>
            <form method="GET" action="{{url_for('index')}}">
                <button type="submit" class="btn btn-primary" name="check-all">
                    Add a new member
                </button>
            </form>
        </div>
        {{ show_messages_filtered() }}
    </div>
    <div>
        <p id="error" class="error"></p>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Permissions</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for result in users %}
            <tr id="{{result.username}}">
                <td>{{result.username}}</td>
                <td>{{result.name}}</td>
                <td>{{result.role}}</td>
                <td>{{result.permission}}</td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal"
                        data-target="#edit_{{result.username}}">Edit</button>
                    <!-- Edit Modal -->
                    <div class="modal fade" id="edit_{{result.username}}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Member</h5>
                                    <button type="button" id="close" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="form">
                                        <p class="error" id="modal_error"></p>
                                        <tr>
                                            <td>
                                                <label for="person_name_{{result.username}}"
                                                    class="control-label">Name:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" id="person_name_{{result.username}}"
                                                    name="person_name" value="{{result.name}}" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="person_role_{{result.username}}"
                                                    class="control-label">Role:</label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="person_role_{{result.username}}"
                                                    name="person_role" type="text" value="{{result.role}}" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="person_permission_{{result.username}}"
                                                    class="control-label">Permission:</label>
                                            </td>
                                            <td>
                                                <input class="form-control" id="person_permission_{{result.username}}"
                                                    name="person_permission" type="text" value="{{result.permission}}" required />
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="container pt-5">
                                        <div class="d-flex justify-content-end">
                                            <div class="px-2">
                                                <button type="button" class="btn btn-secondary" id="close-modal"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary">Save
                                                    changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete_{{result.username}}">
                        Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="delete_{{result.username}}" tabindex="-1" role="dialog"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{{url_for('delete_product', sku = result.username)}}">
                                    <div class="modal-body">
                                        <p>
                                            Are you sure that you want to delete member
                                            <span class="bolded">
                                                {{result.username}}
                                            </span>? Their account will be deleted and they
                                            will not be able to access it.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            id="close_modal_{{result.username}}">Cancel</button>
                                        <button type="button" class="btn btn-danger" value="{{result.username}}"
                                            id="confirm_delete_{{result.username}}">
                                            Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of Delete Modal -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- End of Delete Modal -->
</div>

{% endblock %}

{% block end_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    function delete_member(username) {
        $.post('/delete_member/',
            { 'member': username },
            function (resp) {
                var value = JSON.stringify(resp);
                console.log(value);
                if (value === 'true') {
                    $('#' + username).remove();
                } else {
                    $("#error").text("Error removing member.");
                }
            })
    }

    $(document).on('click', function (event) {
        $("#error").text("");
    })

    $("button[id*='confirm_delete']").on('click', function (event) {
        var username = $(this).attr('id').substring(15);
        $("#delete_" + username).modal('hide');
        $('.modal-backdrop').remove();
        delete_member(username);
    });

    $("button[id*='submit_edit']").on('click', function (event) {
        var username = $(this).attr('id').substring(15);
        //$("#delete_" + username).modal('hide');
        
    });

</script>
{% endblock %}