{% extends "base.html" %}
{% from "flashing-macro-filtered.html" import show_messages_filtered %}

{% block head_stuff %}
<title>Order Products | TimeInv</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">TimeInv</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('transactions')}}">Transactions (Inventory change)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('products')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('order_products')}}">Product Orders</a>
                </li>
            </ul>
            <span>
                <button class="btn btn-outline-light">
                    Log out
                </button>
            </span>
        </div>
    </div>
</nav>
{% endblock %}

{% block main_content %}
<div>
    <div>
        <h1>Register A Product Order</h1>
        <p>
            Register product order information into the system once your orders
            have been processed to update product availability.
        </p>
        {{ show_messages_filtered() }}
    </div>
    <form class="pt-2 w-75" method="POST" action="{{url_for('order_products')}}">
        <div class="form-group pb-4">
            <label class="control-label" for="product-sku">SKU</label>
            <input type="number" class="form-control" id="product-sku" name="product-sku" aria-describedby="productSku"
                placeholder="SKU number" required/>
        </div>
        <div class="form-group pb-4">
            <label class="control-label" for="product-units">Number of units ordered</label>
            <input type="number" class="form-control" id="product-units" name="product-units" required>
        </div>
        <button type="submit" class="btn btn-primary">Register order</button>
    </form>
</div>

{% endblock %}