<!-- TimeInv Login Page. Author: Francisca Moya Jimenez -->
{% extends "base.html" %}
{% from "flashing-macro-filtered.html" import show_messages_filtered %}

{% block head_stuff %}
<title>TimeInv | Inventory Management</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">TimeInv</a>
    </div>
</nav>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="py-2 w-75 text-center">
            <h1>TimeInv</h1>
            <h2>Inventory management made easy</h2>
        </div>
        <form method="POST" class="login" action="{{url_for('signup')}}">
            <h3 class="pb-2">Sign Up</h3>
            {{ show_messages_filtered() }}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="username"
                    required>
                <p id="error" class="error"></p>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <div class="d-flex justify-content-center pt-4">
                <p class="text-center">
                    Already have an account? <br />
                    <a href="{{url_for('login')}}">Log in</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block end_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function username_check(username) {
        $.post('/username_exists/',
            { 'username': username },
            function (resp) {
                var value =  JSON.stringify(resp);
                if (value === 'true'){
                    $("#error").text("This username is already taken.");
                }
            });
    }

    $("#username").on('input', () => {
        $("#error").text("")
        var value = $("#username").val();
        username_check(value);
    })
</script>
{% endblock %}