{% extends "base.html" %}

{% block head_stuff %}
<title>Transactions | TimeInv</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">TimeInv</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('transactions')}}">Transactions (Inventory change)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('products')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order Products</a>
                </li>
            </ul>
            <span>
                <button class="btn btn-outline-light">
                    Log out
                </button>
            </span>
        </div>
</nav>
{% endblock %}

{% block main_content %}
<div>
    <h1>Transactions</h1>
    <p>
        View information for all transactions that you have added to your business.
        Search for or sort transactions on display.
    </p>
    <form class="main-page-form pb-2 pt-3" method="GET" action="{{url_for('transactions')}}">
        <div class="inline">
            <label class="inline-elem-r" for="search" id="search-label">Search</label>
            <input class="form-control mr-sm-2" type="text" id="search" name="search" aria-label="Search">
        </div>
        <table>
            <tr>
                <td><label for="by">By </label></td>
                <td>
                    <select required id="by" name="by">
                        <option value="">Choose one</option>
                        <option value="title">Title</option>
                        <option value="sku">SKU</option>
                        <option value="timestamp">Timestampy</option>
                    </select>
                </td>
            </tr>
        </table>
        <span class="inline-elem"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </span>
    </form>
    <form class="sorting" method="GET" action="{{url_for('transactions')}}">
        <table>
            <tr>
                <td><label for="sort">Sort by</label></td>
                <td>
                    <select required id="sort" name="sort">
                        <option value="">Choose one</option>
                        <option value="timestamp">Timestamp</option>
                        <option value="sku">SKU</option>
                    </select>
                </td>
                <td class="inline-elem"><label for="order">Order </label></td>
                <td>
                    <select required id="order" name="order">
                        <option value="">Choose one</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </td>
            </tr>
        </table>
        <span class="inline-elem"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sort</button>
    </form>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">SKU</th>
        <th scope="col">Title</th>
        <th scope="col">Last transaction time</th>
        <th scope="col">Current Inventory</th>
      </tr>
    </thead>
    <tbody>
        {% for results in transactions %}
        <tr>
            <td>{{results.sku}}</td>
            <td>{{results.title}}</td>
            <td>{{results.timestamp}}</td>
            <td>{{results.amount}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

<div class="row">
    

</div>


{% endblock %}