/* For flashed messages; make them stand out using red and italics */

HTML {
    --color-hilite: #b50000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    font-family: var(--font-family)
}

/* Flashed messages with categories */
.success {
    color: var(--color-focus);
    font-style: italic;
}

.error {
    color: var(--color-hilite);
    font-style: italic;

}


h1 {
    font-size: 200%;
    color: var(--color-header);
}

h2, h3 {
    color: var(--color-header);
}

.inline {
    display: flex;
    width: 100%;
}

.inline-elem {
    padding-left: 1em;
}

.inline-elem-r {
    padding-right: 1em;
    align-items: center;
    padding-top: 0.3em;
}

.main-page-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%

}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%
}

select {
    border-style: solid;
    border-color: #d5dbe0;
    border-radius: 0.3em;
    height: 40px;
    padding: 0.5em;
    color: #676767;
}

td label {
    padding-left: 1em;
    padding-right: 1em;
}

.sorting {
    padding-bottom: 1em; 
    display: flex;
}

.sorting label{
    padding-left: 0;
}

.login {
    width: 100%;
}

.main-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control-label:after { 
    color: #d00;
    content: "*";
    padding-left: 0.5em;
}

.bolded {
    font-weight: bold;
}

.fit-content {
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .main-page-form {
        width: 100%;
        flex-direction: column;
    }

    .inline-elem, td {
        padding-top: 1em;
    }
}

